<%- include('layouts/layout') %>
<h1>Welcome to the Interview Management System</h1>
<a href="/students" class="btn btn-primary">View Students</a>
<a href="/interviews" class="btn btn-secondary">View Interviews</a>
<%- include('includes/footer') %>
